<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schoovello.cookerconnector">

    <application
        android:name="com.schoovello.cookerconnector.CookerConnectorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.schoovello.cookerconnector.activity.SessionsListActivity"
            android:label="Connected Cooker">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.schoovello.cookerconnector.activity.SessionActivity" />
        <activity android:name="com.schoovello.cookerconnector.activity.NewSessionActivity" />
        <activity android:name="com.schoovello.cookerconnector.activity.AlertsListActivity" />
        <activity android:name="com.schoovello.cookerconnector.activity.ControlActivity" />

        <service android:name="com.schoovello.cookerconnector.service.MonitorNotificationService" />
    </application>
</manifest>
